.quotes{
    @include breakpoint-down(){
        display: block;
    }
    
}

.quote{
    background-color: $veryDarkMagenta;
    border-radius: 12px;
    padding: 3.3125rem 2.5rem;
    margin-left: 0;
    margin-right: 0;
    &:not(:last-child){
        margin-bottom:1.1875rem;
    }

    @include breakpoint-up(){
        &:not(:last-child){
            margin-right:1.875rem;
        }
    
        &:first-child{
            margin-bottom: 2.125rem; 
        }
    
        &:last-child{
            margin-top: 2.125rem; 
        }
    
        &:nth-child(2){
            margin-top: 1.0625rem;
            margin-bottom: 1.0625rem;
        }
    }
}

.info{
    margin-bottom: 1.875rem;
}

.image{
    margin-right: 1.875rem;

    > img{
      border-radius: 50%;
      width: 3.375rem;
      height: 3.375rem;  
    }
}

.name{
    font-weight: 700;
    color: white;
    margin-bottom: 0.5rem;
}

.title{
    color: $softPink;
}

.content{
    color: $lightGrayishMagenta;
    
    &::before{
        content: open-quote;
    }

    &::after{
        content: close-quote;
    }
}